body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    background-color: rgb(240, 240, 240);
}

.nav_list li {
    font-size: 17px;
}

.nav_list li.active {
    font-weight: 700;
}

h2 {
    font-size: 22px;
    font-weight: 400;
    line-height: 23px;
    color: black;
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: hsla(0, 0%, 47%, .8);
    font-size: 13px;
    line-height: 15px;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.nav_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 650px;
    color: #09f;
    padding: 15px 0;
}

.nav_container ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

li {
    list-style-type: none;
    margin-right: 15px;
}

.nav_container img {
    height: 25px;
    position: relative;
    top: -5px;
}

.subnav_container {
    display: flex;
    color: white;
}

.search_list {
    display: flex;
}

.search_list {
    margin: 0;
}

.subnav {
    background-color: #09f;
    padding: 5px 0;
}

nav {
    margin-bottom: 30px;
    background-color: white;
}

.weather_content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
}

.block_weather {
    grid-column-start: 1;
    grid-column-end: 3;
}

.button_block {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.after_weather {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px 10px 0px;
    box-sizing: border-box;
}

.after_weather a {
    color: #09f;
    font-size: 12px;
    line-height: 14px;
}

.weather_parameters {
    background-color: white;
    padding: 8px;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 5px;
    color: #09f;
    font-size: 16px;
}

.recension {
    background-color: rgba(0, 153, 255, .12);
    border: none;
    color: #09f;
    padding: 9px;
    font-size: 16px;
    border-radius: 5px;
}

.weekly_weather {
    display: none;
    background-color: white;
    width: 100%;
    justify-content: space-between;
    padding: 20px 10px;
    margin-top: 20px;
    border-radius: 5px;
    position: relative;
    box-sizing: border-box;
}

.weekly_weather_column {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.weekly_weather_column img {
    height: 75px;
    margin-bottom: 15px;
}

.weekly_weather_column p {
    margin: 25px 0;
}

.weekly_weather_column a {
    text-align: center;
}

.daily_weather_column {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.daily_weather_column img {
    height: 65px;
    margin-bottom: 15px;
}

.daily_weather_column p {
    margin: 25px 0;
}

.daily_weather_column a {
    text-align: center;
}

.prev_day,
.current_day,
.next_day {
    border-radius: 5px;
    background-color: white;
    padding: 5px;
}

.wind_speed {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 0) 0%, rgba(191, 191, 191, 1) 21%);
    transform: skew(-12deg);
    padding: 0.25em 1.2em;
    margin: 25px 0 0;
}

h3 {
    font-size: 15px;
    font-weight: 400;
    position: absolute;
    left: 20.5%;
}

.t_heading {
    top: 120px;
}

.ws_heading {
    top: 180px;
}

.t_heading,
.ws_heading {
    left: 20px;
    position: absolute;
}

.daily_weather_elem {
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 5px;
    padding: 20px 10px;
    position: relative;
}

.daily_weather_elem .t_heading,
.daily_weather_elem .ws_heading {
    left: 20px;
}

.daily_weather_elem .t_heading {
    top: 100px;
}

.daily_weather_elem .ws_heading {
    top: 160px;
}

.time_sup {
    font-size: 10px;
    line-height: 10px;
    position: relative;
    right: -1px;
    top: 2px;
}

.daily_weather_list {
    display: flex;
    justify-content: space-between;
}

.daily_weather_list img {
    height: 75px;
    margin-bottom: 15px;
}

.prev_day,
.current_day,
.next_day {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.daily_weather_list p {
    margin: 0;
}

.weathertab_info {
    background-color: rgba(114, 219, 32, 0.25);
    font-size: 18px;
    font-weight: 500;
    width: 84px;
}

.prev_day,
.next_day {
    margin-bottom: 16px;
}

.current_day {
    padding-bottom: 16px;
}

.daily_weather {
    display: none;
}

.daily_weather.active {
    display: block;
}

.weekly_weather.active {
    display: flex;
}

.tendays_weather {
    display: none;
    background-color: white;
    width: 135%;
    justify-content: space-between;
    padding: 20px 10px;
    margin-top: 20px;
    border-radius: 5px;
    position: relative;
    box-sizing: border-box;
}

.tendays_weather.active {
    display: flex;
}

.threedays_weather_block{
    display: flex;
    justify-content: space-between;
}

.threedays_weather_column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.threedays_weather_column img {
    height: 75px;
    margin-bottom: 15px;
}
.three_days_weather{
    display: none;
    background-color: white;
    width: 100%;
    justify-content: space-between;
    padding: 20px 10px;
    margin-top: 20px;
    border-radius: 5px;
    position: relative;
    box-sizing: border-box;
}
.three_days_weather.active{
    display: flex;
}